/* General Body */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    text-align: center;
    padding: 50px 20px;
    background-color: #1f1f1f;
}

/* Sections */
section {
    padding: 50px 20px;
}

/* Section titles */
h2 {
    color: #00ffff;
}

/* Projects */
.project-card {
    background-color: #222;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

    .project-card img {
        width: 100%;
        max-width: 500px;
        border-radius: 8px;
    }

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #1f1f1f;
}
